@model IEnumerable<GuestWhoIAm.Models.Entry>

    <h1>Entry list</h1>
<div id="GuessGame">
    <div id="GuessGameHolder">

<ul id="GuessGameBox">
@foreach (var entry in Model){
   <li>

       <div class="author"> 
            @entry.Id Author: @entry.Author  <br> 
        </div>
        <div class="content">
            @entry.Content <br> 
       </div>
       <div class="dateTime">
            @entry.DateTime
      </div>
   </li>
}
</ul>
</div>
</div>