
@model Entry


<div id="GuessGame">
    <div id="GuessGameHolder">

<ul id="GuessGameBox">
<li>
      <div class="author"> 
   Author: @Html.DisplayFor(x=>x.Author)
    </div>
                
                
        <div class="content">
             @Html.DisplayFor(x=>x.Content)<br>
       </div>
       <div class="dateTime">
           Post time: @Html.DisplayFor(x=>x.DateTime)
      </div>
   </li>
   
 
</ul>
</div>
</div>