
@model GuestWhoIAm.Models.Entry
@{
    ViewData["Title"] = "Add";
}

<h1>Add new Entry</h1>

@using(Html.BeginForm("Add","Entry", FormMethod.Post))
{
  
    @Html.ValidationSummary()
    <div id="AddPage">
    <div id="AddPageHolder">


  <div id="AddPageBox">
      <div class="name"> 
          <span>Entry author:</span> @Html.TextBoxFor(x=>x.Author)
        </div>
                
                
        <div class="content">
          <span>Entry message</span>@Html.TextAreaFor(x=>x.Content)
       </div>
       <div class="email">
         <span>Entry email</span>@Html.TextBoxFor(x=>x.Email)
      </div>
   
   
 
      </div>
</div>
</div>
    
    
    
    
    <button typeof="submit">send</button>
    
}



