@model IEnumerable<GuestWhoIAm.Models.Entry>
@{
    ViewData["Title"] = "List";
}

<h1>Add Entry</h1>



<h2>All Entries list</h2>

<ul>
@foreach (var entry in Model){
   <li>
       @entry.Id - @entry.Author - @entry.Content - @entry.DateTime
   </li>
}
</ul>
