html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#GuessGame {
  display:flex;
}

#GuessGameHolder {
    width: 100%;
    display: flex;

}

#GuessGameBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
    #GuessGameBox div.author {
        border: .1rem solid black;
        list-style: none;
        border-radius: 2px;
        align-items: normal;
        display: flex;
        flex-direction: column;
        position: absolute;
    }

    #GuessGameBox div.content {
        background-color: antiquewhite;
        border: 0.1rem solid black;
        padding: 5.1rem;
        display: flex;
        flex-direction: column;
        width: 1000px;
    }

    #GuessGameBox div.dateTime {
        background-color: azure;
        border: 0.1rem solid black;
    }
    #GuessGame li {

        list-style-type: none
    }

#GuessGame span {

       
        
    }